{% extends 'base.html' %}

{% block title %} Create list {% endblock %}


{% block content %}

<div class="centered-heading">
  <h4> New List: </h4>
</div>
<form method="POST">
    {% csrf_token %}
    <br><div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-secondary" type="submit">Create</button>
        </div>
        <input type="text" class="form-control" placeholder="List's name" aria-label="" aria-describedby="basic-addon1" name="name">
      </div>
</form>
{% endblock %}